<!DOCTYPE html>
<html lang="en" data-theme="lemonade">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cozy Acres Farmstead</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <header class="display-flex justify-space-between align-center px-2">
    <div class="navbar">
      <div class="flex-1">
        {{#if logged_in}}
        <a href="/"><img class="logo px-1" src="img/logo.png"></a>
        {{else}}
        <div class="logo2-container">
          <a href="/"><img class="logo2" src="img/logo.png"></a>
        </div>
        {{/if}}
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          {{#if logged_in}}
          <li><a href="/profile"><img src="img/profilebtn.png"></a></li>
          <li>
            <button id="logout"><img src="img/logoutbtn.png"></button>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
    
  </header>
  <main class="container flex flex-col mx-auto px-4">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>
