<h2>Farm Store</h2>
<button id='backLogin' class="float-right"><img src="img/backbtn.png"></button>

<div class="mt-5 farm-store">
    <div class="m-5">
        <ul class="m-5">
            {{#each animals as |animal|}}
                <li class="p-5 animal-row">{{animal.name}}<span class="store-text">${{ animal.cost }}</span>
                    <button  
                        class="btn float-right buy-btn" 
                        data-animal-id="{{animal.id}}"
                    >Buy</button>
                </li>
            {{/each}}
        </ul>
    </div>
</div>





<script src="/js/farmStore.js"></script>