<button id='backLogin' class="float-right"><img src="img/backbtn.png"></button>

<div class="mt-5 farm-store">
    <div class="m-5">
        <ul class="m-5 content">
            {{#each animals as |animal|}}
                <li class="p-5 animal-row">
                    <button  
                        class="float-right buy-btn buy-animal buy-animal-{{animal.name}}" 
                        data-animal-id="{{animal.id}}"
                    >{{ animal.cost }}</button>
                </li>
            {{/each}}
        </ul>
    </div>
</div>





<script src="/js/farmStore.js"></script>