<form class="form login-form text-center center-image">
  <div class="form-group mb-2">
    <label for="email-login"><img src="img/email.png"></label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login"><img src="img/password.png"></label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="mt-2" type="submit"><img src="img/loginbtn.png"></button>
  </div>
</form>
  <div class="text-center">
    <p class="reg-text text-black">Don't have an account yet?</p>
      <button id='sign-up' type="submit"><img src="img/signup.png"></button>
  </div>

<script src="/js/login.js"></script>