<button id='backLogin'><img src="img/backbtn.png"></button>

<div id="worldHunger">
    <div id="totalScores">
        <div id="numberPercent"></div>   
        <div id="allScore">
        <div id="percentScore"></div>
        </div>
    </div>
    <div class="profile center-image-score reg-text">
        <h2 id="topScores">TOP SCORES</h2>
        <ul class="m-5">
            <li class='score'></li>
            <li class='score'></li>
            <li class='score'></li>
            <li class='score'></li>
            <li class='score'></li>       
        </ul>
    </div>
</div>

<script src="/js/score.js"></script>