<button id='backLogin'class="float-right"><img src="img/backbtn.png"></button>

<h2>Sign Up For Cozy Acres Farmstead</h2>
<img class="logo" src="img/logo.png">

<form class="form signup-form">
  <div class="form-group">
    <label for="email-signup">email:</label>
    <input class="form-input" type="text" name="email" />
  </div>
    <div class="form-group">
    <label for="username-signup">username:</label>
    <input class="form-input" type="username" name="username" />
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" name="password" />
  </div>
  <div class="form-group">
    <button type="submit"><img src="img/submit.png"></button>
  </div>
</form>

<script src="/js/signup.js"></script>