<button id='backLogin'class="float-right"><img src="img/backbtn.png"></button>

<h2 class="text-center reg-text">Sign Up For Cozy Acres Farmstead</h2>

<form class="form signup-form text-center center-image">
  <div class="form-group mb-2">
    <label for="email-signup"><img src="img/email.png"></label>
    <input class="form-input" type="text" name="email" />
  </div>
  <div class="form-group mb-2">
    <label for="username-signup"><img src="img/username.png"></label>
    <input class="form-input" type="username" name="username" />
  </div>
  <div class="form-group mb-2">
    <label for="password-signup"><img src="img/password.png"></label>
    <input class="form-input" type="password" name="password" />
  </div>
  <div class="form-group">
    <button type="submit"><img src="img/submit.png"></button>
  </div>
</form>

<script src="/js/signup.js"></script>