<button id='backLogin'class="btn btn-primary float-right">Back</button>

<h2>Welcome To Cozy Acres Farmstead</h2>

<form class="form signup-form">
  <div class="form-group">
    <label for="email-signup">email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
    <div class="form-group">
    <label for="username-signup">username:</label>
    <input class="form-input" type="username" id="username-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

<script src="/js/signup.js"></script>